.title {
  text-align: center;
}

.login span {
  padding: 10px;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
  text-align: left;
}
  
td {
  text-align: left;
}

.record-edit {
  border: 2px solid black;
  background-color: darkgrey;
  width: 500px;
  height: 150px;
  padding: 10px;
  line-height:20pt;
  text-align: center;
}

.filter-form {
  width: 780px;
  padding: 10px;
  background-color: lightgray;
}

.filter-form label {
  padding-right: 10px;
  padding-left: 10px;
}